<div id="dashboard">

    <div class="row">
        <div class="col-lg-12">
            <h4>Resource Allocation</h4>
            <hr class="hr-gray" style="padding-top: 0; margin-top: 0;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="newDepartment">New department</label>
                <div class="input-group">
                  <input type="text" ng-model="newDepartmentName" class="form-control" id="newDepartment" placeholder="New department">
                </div>
              </div>
              <button type="submit" ng-disabled="!newDepartmentName" ng-click="addDepartment(newDepartmentName)" class="btn btn-primary">Add</button>
            </form>
        </div>

        <div class="col-md-4">
            <button type="button" ng-click="save()" class="btn btn-success pull-right">Save</button>
        </div>
    </div>

    <hr class="hr-gray">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary" ng-repeat="department in resourceData.project.departments">
                <div class="panel-heading">
                    <h3 class="panel-title">{{department.name}}</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Tasks</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in department.tasks">
                                <td>Task #{{$index + 1}}</td>
                                <td>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Resource Type</th>
                                                <th>Resource name</th>
                                                <th>Resource role</th>
                                                <th>Customer rate</th>
                                                <th>Standard rate</th>
                                                <th>% Discount</th>
                                                <th>Sell rate</th>
                                                <th>% Allocation</th>
                                                <th>Hours</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="resource in task.resources">
                                                <td>
                                                    <select class="form-control" ng-model="resource.user_type" ng-options="userType as userList.name for (userType, userList) in users"></select>
                                                </td>
                                                <td>
                                                    <select class="form-control" ng-model="resource.user_id" ng-options="user.id as user.name for user in users[resource.user_type].list"></select>
                                                </td>
                                                <td>
                                                    <select class="form-control" ng-model="resource.role_id" ng-options="role.id as role.name for role in roles"></select>
                                                </td>
                                                <td>{{getCustomerRate(resource)}}</td>
                                                <td>{{getStandardRate(resource)}}</td>
                                                <td><input type="text" class="form-control" ng-model="resource.discount" name="discount"></td>
                                                <td>{{getSellRate(resource)}}</td>
                                                <td><input type="text" ng-disabled="resource.hours > 0" class="form-control" ng-model="resource.allocation" name="allocation"></td>
                                                <td><input type="text" ng-disabled="resource.allocation > 0" class="form-control" ng-model="resource.hours" name="hours"></td>
                                                <td>
                                                    <button ng-click="addResource(task)" type="button" class="btn btn-primary btn-xs btn-block">Add resource</button>
                                                    <button ng-disabled="task.resources.length < 2" ng-click="removeResource(task, resource, $index)" type="button" class="btn btn-danger btn-xs btn-block">Remove resource</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" ng-click="addTask(department)">New {{department.name.toLowerCase()}} task</button>
                </div>
            </div>
        </div>
    </div>
</div>
