<div id="flash-message-container">
    <div class="alert alert-success" role="alert" ng-show="success">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        {{success}}
    </div>
    <div class="alert alert-danger" role="alert" ng-show="errors">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{errors}}
    </div>
</div>
